.win-or-lose-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: cover;
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 10px;
}

.trophy {
  width: 300px;
}

.details-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.score-desc {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0px;
}
.score-button {
  display: flex;
  cursor: pointer;
  background-color: blueviolet;
  border-radius: 10px;
  border: 0px;
  padding: 15px;
}

span {
  color: rgb(181, 240, 189);
  font-weight: 700;
  font-size: 25px;
}
@media (min-width: 768px) {
  .win-or-lose-card {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
